/* Ghibli Colors
#e2dd3f
#74cc66
#046684
#a06468
#d4b5a9
#2e4744
*/

body {
  background-color: #2e4744;
}
button {
  background-color: #2e4744;
  color: #d4b5a9;
  border: solid #d4b5a9 1px;
  cursor: pointer;
  padding: 13px;
  margin-right: 15px;
}
button:hover {
  color: #74cc66;
}