$BackgroundColor: #2e4744;
$TextColor: #d4b5a9;
$HoverColor: #74cc66;
$ImageText: black;
$ImageHoverText: blue;

body {
  background-color: $BackgroundColor;
  color: $TextColor;
  font-family: Arial, sans-serif;
}
button {
  background-color: $BackgroundColor;
  color: $TextColor;
  border: solid $TextColor 1px;
  cursor: pointer;
  padding: 13px;
  margin-right: 15px;
}
button:hover {
  color: $HoverColor;
}
.title {
  font-size: 36px;
  text-align: left;
  padding: 10px;
  width: 44%;
  cursor: pointer;
}
.title:hover {
  color: $HoverColor
}
.left {
  width: 20%;
}
.right {
  width: 80%;
  margin-left: 15px;
  margin-top: 15px;
  margin-right: 15px;
}
.platform {
  margin-bottom: 15px;
}
.question {
  margin-top: 15px;
  margin-bottom: 15px;
}
.flex {
  display: flex;
}

.Shows {
  display: flex;
  justify-content: space-between;
  margin: 10px auto;
}

h3 {
  margin-top: -2px;
}

.imagetext {
  color: $ImageText;
  &:hover {
    color: $ImageHoverText;
  }
}
.platformtext {
  font-size: 12px;
  color: $ImageText;
}
.credimg {
  font-size: 12px;
  color: $ImageText;
  &:hover {
    color: $ImageHoverText;
  }
}
.credplat {
  font-size: 10px;
  color: $ImageText;
}

.imagecontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.image {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.showcontainer {
  margin-bottom: 15px;
  background-image: linear-gradient(120deg, #e2dd3f, #a06468);
  justify-content:center;
  text-align:center;
  width: 200px;
}
.credcontainer {
  margin: 15px auto;
  background-image: linear-gradient(120deg, #e2dd3f, #a06468);
  width: 125px;
  justify-content:center;
  text-align:center;
  width: 200px;
}

.mal {
  color: $TextColor;
  margin-bottom: 15px;
  &:hover {
    color: $HoverColor;
  }
}

.aboutflex {
  display: flex;
  justify-content: space-evenly;
}

.aboutcenter {
  text-align: center;
  justify-content:center;
}

.about {
  text-align: center;
  cursor: pointer;
  margin-top: 15px;
  border: solid 1px;
}

.abouttext {
  cursor: pointer;
  vertical-align: middle;
  margin-top:15px;
  margin-bottom: 15px;
  &:hover {
    color: $HoverColor;
  }
}
.aboutsub {
  cursor: pointer;
  vertical-align: middle;
  margin-bottom: 15px;
  font-size:12px;
  &:hover {
    color: $HoverColor;
  }
}

.genrehead {
  text-align: center;
  cursor: pointer;
  margin-bottom: 15px;
  margin-top: 15px;
  &:hover {
    color: $HoverColor;
  }
}
.genreborder {
  border: solid 1px;
}
.genretext {
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 12px;
  text-align: center;
  &:hover {
    color: $HoverColor;
  }
}